<%- include('header'); -%>
<div class="container">
  
    <h3>Contact Us</h3>
    <form action="#">
      <label for="fname">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name.." autocomplete="off">
  
      <label for="lname">Number</label>
      <input type="text" id="number" name="number" placeholder="Your mobile number.." autocomplete="off">
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." rows="5" cols="5" autocomplete="off"></textarea>
  
      <input type="submit" value="Submit">
    </form>
    <img id="imgcontact" src="/Images/contact-icon.png" alt="contact us png">
  </div>
  
  <%- include('footer'); -%>